# CLASE ITERABLE

## Cuenta Bancaria

Vamos a crear una clase que recibe la dirección URL de un archivo excel que contenga una tabla de datos con la información de los usuarios de nuestro banco y la guardará en un dataframe de pandas, para que luego nos muestre la información de cada uno de ellos cuando se le pida. Por lo tanto, primero veremos el archivo ejemplo que utilizaremos para probar nuestra clase.

In [5]:
import pandas as pd

#  Dirección URL
path = "https://github.com/Klealp/Mineria-de-Datos/blob/main/Segunda-Tarea/Cuentas_Bancarias.xlsx?raw=true" 

Cuentas = pd.read_excel(path)
Cuentas

   Numero_cuenta     Nombre_cliente  Saldo_actual Fecha_ult_trans
0       45621315  Sebastian Romero       15323000      2022-07-30
1       56451165       Edward Parra        900000      2022-08-02
2       98745632        Karol Avila      20850000      2022-07-26
3       31526354  Isabella Castillo       5800000      2022-08-15
4       36268547       Miguel Acuña        560000      2022-08-20
5       65498237   Jessica Montañez       1225000      2022-08-22

Ahora, creamos la clase **CuentaBancaria** que realizará el proceso anteriormente descrito.

In [12]:
class CuentaBancaria:
    """ Una base de datos con la información de las cuentas bancarias
    de  nuestros usuarios. Por ahora, solo recolectamos numero de cuenta,
    nombre del cliente, saldo y fecha con la última transacción."""
    
    def __init__(self, filepath):
        self.Datafr = pd.read_excel(filepath)
        self.val = 0
        self.limit = self.Datafr.shape[0] - 1
        
    def informacion(self):
        """ Regresa la información de cada usuario presente en la 
        base de datos."""
        fila = self.Datafr.iloc[self.val,]
        return (fila)
    
    # Hace esta clase iterable
    def __iter__(self):
        return self
    
    # Hace esta clase un iterador
    def __next__(self):
        if self.val > self.limit:
            self.val = 0
            raise StopIteration
        else:
            valores = self.informacion()
            self.val += 1
            return (valores)

De esta manera, podemos evaluar el funcionamiento de nuestra clase. Por medio de la funciones **iter()** y **next()** podemos indicar que se nos muestre al siguiente usuario cuando se necesite.

In [10]:
iterador = iter(CuentaBancaria(path))
print(next(iterador))
print()
print(next(iterador))

Numero_cuenta                 45621315
Nombre_cliente       Sebastian Romero
Saldo_actual                  15323000
Fecha_ult_trans    2022-07-30 00:00:00
Name: 0, dtype: object

Numero_cuenta                 56451165
Nombre_cliente            Edward Parra
Saldo_actual                    900000
Fecha_ult_trans    2022-08-02 00:00:00
Name: 1, dtype: object

También podemos utilizar una sentencia **for** para que nos muestre todos los usuarios presentes en el dataframe.

In [11]:
Usuarios = CuentaBancaria(path)
for i in Usuarios:
    print("Siguiente Usuario:")
    print(i)
    print()

Siguiente Usuario:
Numero_cuenta                 45621315
Nombre_cliente       Sebastian Romero
Saldo_actual                  15323000
Fecha_ult_trans    2022-07-30 00:00:00
Name: 0, dtype: object

Siguiente Usuario:
Numero_cuenta                 56451165
Nombre_cliente            Edward Parra
Saldo_actual                    900000
Fecha_ult_trans    2022-08-02 00:00:00
Name: 1, dtype: object

Siguiente Usuario:
Numero_cuenta                 98745632
Nombre_cliente             Karol Avila
Saldo_actual                  20850000
Fecha_ult_trans    2022-07-26 00:00:00
Name: 2, dtype: object

Siguiente Usuario:
Numero_cuenta                 31526354
Nombre_cliente       Isabella Castillo
Saldo_actual                   5800000
Fecha_ult_trans    2022-08-15 00:00:00
Name: 3, dtype: object

Siguiente Usuario:
Numero_cuenta                 36268547
Nombre_cliente            Miguel Acuña
Saldo_actual                    560000
Fecha_ult_trans    2022-08-20 00:00:00
Name: 4, dtype: object

Siguiente Usuario:
Numero_cuenta                 65498237
Nombre_cliente        Jessica Montañez
Saldo_actual                   1225000
Fecha_ult_trans    2022-08-22 00:00:00
Name: 5, dtype: object